html, body{
    margin: 0;
    padding: 0;
}

body{
    padding-top: 50px;
    background-color: goldenrod;
    color: red;
    font-family: cursive;
    height: 100vh;
}
.container{
    width: 600px;
    text-align: center;
    margin: 0 auto;
    background-color: slateblue;
    color: aliceblue;
    padding: 50px;
    border-radius: 10px;
}
h1{
    color: pink;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px red;
}
.heading{
    color: white;
    font-size: 30px;
    text-shadow: none;
}
.players{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.dice{
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color: aqua;
    color: brown;
    margin: 0 auto;
    font-size: 80px;
    display: block;
    align-items: center;
    justify-content: center;
}

button{
    color: royalblue;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    margin: 40px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#rollBtn{
    background-color: lightblue;
    color: brown;
    border: 2px solid brown;
}

#resetBtn{
    background-color: brown;
    color: lightblue;
    border: 2px solid lightblue;
}

button:focus{
    outline: none;
}

#resetBtn{
    display: none;
}

.active{
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
}